$dark: #444;
$light: #ccc;
$bg: #777;
$desktop-wrap-width:70%;
$mobile-wrap-width:90%;


@mixin roundcorners($radius) {
    -moz-border-radius: $radius;    // firefox
    -webkit-border-radius: $radius; // safari/chrome
    border-radius: $radius;         // CSS3, works in IE9
}

@mixin roundcorner($radius, $corner: "top-left") {
    -moz-border-#{$corner}-radius:    $radius ; // firefox
    -webkit-border-#{$corner}-radius: $radius;  // safari/chrome
    border-#{$corner}-radius:         $radius;  // CSS3, works in IE9
}

body {
	background-color: $bg;
	font-family: Helevetica Neue, Helevetica, sans-serif;
	font-weight: bold;
	color: $dark;
	display:inline;
}


@mixin wrappercentering($wrap-width) {
	width:$wrap-width;
	margin-left: (100% - $wrap-width)/2;
	margin-right: auto;
}


#wrapper {
	@media screen and (min-width: 780px) {
		@include wrappercentering($desktop-wrap-width);
	}
	@media screen and (max-width: 780px) {
		@include wrappercentering($mobile-wrap-width);
	}
}


#transcript {
	@media screen and (min-width: 780px) {
		width: $desktop-wrap-width;
	}
	@media screen and (max-width: 780px) {
		width: $mobile-wrap-width;
	}
	position: absolute;
	top:0px;
	bottom: 165px;

	margin-left:10px;
	margin-right:100px;
	
	overflow: auto;
	overflow-y: auto;
	width:100%;

	.phrase {
		
		background-color: $light;
		margin-top: 10px;
		@include roundcorners(10px);
		padding:5px;
	}
}


.lineitem {	
	display: inline;
	padding-top: 5px;
	min-height: 60px;
}


#input {
	@media screen and (min-width: 780px) {
		width: $desktop-wrap-width;
	}
	@media screen and (max-width: 780px) {
		width: $mobile-wrap-width;
	}
	position: absolute;
	bottom: 5px;
	
	#editarea {
		background-color: white;
		min-height:40px;
		@include roundcorner(12px, "top-right");
		@include roundcorner(12px, "bottom-right");
		@include roundcorner(10px, "top-left");
		@include roundcorner(10px, "bottom-left");

		#prompt {
			font-size:24px; 
			display:inline; 
			position:absolute; 
			padding:5px;
		}

		#composingstick {
			background-color: white;
			display:inline;
			margin-left: 20px;
			margin-right: 50px;
		}
		#sendbutton {
			display:inline;
			background-color: #4786DE;
			position: absolute;
			right:0px;
			font-size:24px;
			min-height:40px;
			padding-left: 10px;
			padding-right: 10px;
			@include roundcorner(10px, "top-right");
			@include roundcorner(10px, "bottom-right");
		}
	}
	#buttons {
		max-height: 110px;
		overflow: auto;
		overflow-y: auto;
		padding-top: 10px;
		margin-left: 10px;
		margin-right: 10px;

		background-color:$light;
	@include roundcorner(10px, "bottom-right");
	@include roundcorner(10px, "bottom-left");

		.button {
			display: inline;
			margin: 5px;
		}
	}
}




::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $dark;
}





