$dark: #444;
$light: #ccc;
$bg: #777;
$desktop-wrap-width:70%;
$mobile-wrap-width:90%;


@mixin roundcorners($radius) {
    -moz-border-radius: $radius;    // firefox
    -webkit-border-radius: $radius; // safari/chrome
    border-radius: $radius;         // CSS3, works in IE9
}

@mixin roundcorner($radius, $corner: "top-left") {
    -moz-border-#{$corner}-radius:    $radius ; // firefox
    -webkit-border-#{$corner}-radius: $radius;  // safari/chrome
    border-#{$corner}-radius:         $radius;  // CSS3, works in IE9
}


@mixin shadow($x-offset, $y-offset, $blur, $spread, $color){
	-moz-box-shadow: $x-offset $y-offset $blur $spread $color;
	-webkit-box-shadow: $x-offset $y-offset $blur $spread $color;
	box-shadow: $x-offset $y-offset $blur $spread $color;
}

body {
	background-color: $bg;
	font-family: Helevetica Neue, Helevetica, sans-serif;
	font-weight: bold;
	color: $dark;
	display:inline;
}


@mixin centerElementAtWidth($wrap-width) {
	position: absolute;
	left: (100% - $wrap-width)/2;
	right: (100% - $wrap-width)/2;

}

img {
	padding-top: 5px;
	min-height: 30px;
}

#transcript {
	@media screen and (min-width: 780px) {
		@include centerElementAtWidth($desktop-wrap-width);
	}
	@media screen and (max-width: 780px) {
		@include centerElementAtWidth($mobile-wrap-width);
	}

	top:0px;
	bottom: 141px;
	margin-right:10px;
	
	overflow: auto;
	overflow-y: auto;

	.phrase {	
		background-color: $light;
		margin-top: 10px;
		@include roundcorners(10px);
		padding:5px;
		min-height: 35px;
		margin-left:10px;
	}
}


.lineitem {	
	display: inline;
/*	padding-top: 55px;	
	min-height: 300px;
	position: relative;
	margin-top: 300px;*/
	
}

#input {
	@media screen and (min-width: 780px) {
		@include centerElementAtWidth($desktop-wrap-width);
	}
	@media screen and (max-width: 780px) {
		@include centerElementAtWidth($mobile-wrap-width);
	}

	bottom: 8px;

	
	#editarea {
		background-color: white;
		min-height:40px;
		@include roundcorner(12px, "top-right");
		@include roundcorner(12px, "bottom-right");
		@include roundcorner(10px, "top-left");
		@include roundcorner(10px, "bottom-left");

		@include shadow(0px, 2px, 3px, 1px, $dark);
		position: relative;
		/*"Warning! z-index only has an effect if an element is positioned."*/
		z-index: 3;

		#prompt {
			font-size:24px; 
			display:inline; 
			position:absolute; 
			padding:5px;
		}

		#composingstick {
			background-color: white;
			display:block;
			left:0px;
			right:0px;
			margin-left: 25px;
			margin-right: 45px;
			margin-top: 10px;
			min-height: 40px;
		}
		#sendbutton {
			display:inline;
			background-color: #4786DE;
			position: absolute;
			top:0px;
			right:0px;
			font-size:24px;
			min-height:40px;
			height:100%;
			padding-left: 10px;
			padding-right: 10px;
			@include roundcorner(10px, "top-right");
			@include roundcorner(10px, "bottom-right");
		}
	}
	#buttons {
		max-height: 82px;
		overflow: auto;
		overflow-y: auto;
		padding-top: 6px;
		margin-left: 10px;
		margin-right: 10px;
		
		background-color:$light;
		position: relative;
		/*"Warning! z-index only has an effect if an element is positioned."*/
		z-index: 0;

		@include roundcorner(10px, "bottom-right");
		@include roundcorner(10px, "bottom-left");

		.button {
			display: inline;
			margin: 3px;
		}
	}
}




::-webkit-scrollbar {
    width: 10px;
    padding: 0px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $dark;
}





