body {
  background-color: #777777;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  color: #444444;
  display: inline; }

img {
  padding-top: 5px;
  min-height: 30px; }

#transcript {
  top: 0px;
  bottom: 141px;
  margin-right: 10px;
  overflow: auto;
  overflow-y: auto; }
  @media screen and (min-width: 780px) {
    #transcript {
      position: absolute;
      left: 15%;
      right: 15%; } }
  @media screen and (max-width: 780px) {
    #transcript {
      position: absolute;
      left: 5%;
      right: 5%; } }
  #transcript .phrase {
    background-color: #cccccc;
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    min-height: 35px;
    margin-left: 10px; }

.lineitem {
  display: inline;
  /*	padding-top: 55px;	
  	min-height: 300px;
  	position: relative;
  	margin-top: 300px;*/ }

#input {
  bottom: 8px; }
  @media screen and (min-width: 780px) {
    #input {
      position: absolute;
      left: 15%;
      right: 15%; } }
  @media screen and (max-width: 780px) {
    #input {
      position: absolute;
      left: 5%;
      right: 5%; } }
  #input #editarea {
    background-color: white;
    min-height: 40px;
    -moz-border-top-right-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-box-shadow: 0px 2px 3px 1px #444444;
    -webkit-box-shadow: 0px 2px 3px 1px #444444;
    box-shadow: 0px 2px 3px 1px #444444;
    position: relative;
    /*"Warning! z-index only has an effect if an element is positioned."*/
    z-index: 3; }
    #input #editarea #prompt {
      font-size: 24px;
      display: inline;
      position: absolute;
      padding: 5px; }
    #input #editarea #composingstick {
      background-color: white;
      display: block;
      left: 0px;
      right: 0px;
      margin-left: 25px;
      margin-right: 45px;
      margin-top: 10px;
      min-height: 40px; }
    #input #editarea #sendbutton {
      display: inline;
      background-color: #4786DE;
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 24px;
      min-height: 40px;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      -moz-border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -moz-border-bottom-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px; }
  #input #buttons {
    max-height: 82px;
    overflow: auto;
    overflow-y: auto;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cccccc;
    position: relative;
    /*"Warning! z-index only has an effect if an element is positioned."*/
    z-index: 0;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; }
    #input #buttons .button {
      display: inline;
      margin: 3px; }

::-webkit-scrollbar {
  width: 10px;
  padding: 0px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #444444; }
